@import "nullstyle.scss";

$fz: 100px;
$color_1: #000;
$color_2: #fff;

%tplborder{
    font-size: 100px;
    border-bottom: 5px dashed red;
}

@mixin fontz($f, $c) {
    font-size: $f;
    color: $c;
}

body {
    background: #fff;
}
.block{
    width: 300px / 960px * 100%;
    background: #ccc;
    padding: 30px;
    line-height: 60px;
    .block__text{
      font-size: $fz;
      span{
        color: green;
      }
    }
  }
  
.link{
    color: blue;
    text-decoration: underline;
    font-size: 20px;

    .block &{
        font-size: 100px;
    }

    &:hover{
        color: $color_2;
    }

    @extend %tplborder;
}

.link-2{
    @include fontz(100px, green);
    border-bottom: 5px dashed #000;
    font-size: 80px;
}